<!-- Modal itinerary-->
<div class="modal fade" id="Itinerary" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg mb-0">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title text-success" id="modal-basic-title">{{page_bookings[language_page].lnkItinerario}}</h4>
            </div>
            <div class="modal-body">
                <table class="table">
                    <thead>
                        <tr>
                            <th width="100">Day</th>
                            <th>Event</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let itinerary of listItinerario">
                            <td>{{itinerary.day}}</td>
                            <td>{{itinerary.name}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="modal-footer">
                <button type="button" class="card-link btn btn-secondary cursor text-white" aria-label="Close" (click)="modalClose()">{{page_bookings[language_page].labelClose}}</button>
            </div>
        </div>
    </div>
</div>

<!-- Modal Includes Services-->
<div class="modal fade" id="SIncludes" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg mb-0">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title text-success" id="modal-basic-title">{{page_bookings[language_page].lnkSincluido}}</h4>
            </div>
            <div class="modal-body">
                <table class="table">
                    <thead>
                        <tr>
                            <th width="50">Nro</th>
                            <th>Items</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let sincludes of listServicioIncluido; let i = index">
                            <td>{{i+1}}</td>
                            <td>{{sincludes.name}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="modal-footer">
                <button type="button" class="card-link btn btn-secondary cursor text-white" aria-label="Close" (click)="modalClose()">{{page_bookings[language_page].labelClose}}</button>
            </div>
        </div>
    </div>
</div>

<!-- Modal Includes Not Services-->
<div class="modal fade" id="SNIncludes" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg mb-0">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title text-success" id="modal-basic-title">{{page_bookings[language_page].lnkSnoincluido}}</h4>
            </div>
            <div class="modal-body">
                <table class="table">
                    <thead>
                        <tr>
                            <th width="50">Nro</th>
                            <th>Items</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let snoincludes of listServicioNoIncluido; let i = index">
                            <td>{{i+1}}</td>
                            <td>{{snoincludes.name}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="modal-footer">
                <button type="button" class="card-link btn btn-secondary cursor text-white" aria-label="Close" (click)="modalClose()">{{page_bookings[language_page].labelClose}}</button>
            </div>
        </div>
    </div>
</div>


<!-- Modal terminos y condiciones-->
<div class="modal fade" id="terminoCondiciones" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg mb-0">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="modal-basic-title">{{page_bookings[language_page].label_tituloterminoNuevo}}</h4>
            </div>
            <div class="modal-body">
                <!-- <p class="text-justify h4">{{page_detail[language_page].textoterminoNuevo}}</p> -->
                <p>Thank you for choosing Wayki Trek, we ask that you read the following terms and
                    conditions of the trip to establish the guidelines in which we work. Once we have
                    Received your request and prepayment, we will sign a contract, under the following
                    Terms:
                </p>
                <h5>RESERVATION POLICY</h5>
                <p>1. Minimum reservations 60 days before the departure date.</p>
                <p>2. Only new groups will be accepted with a minimum of 2 Pax, with an anticipation greater than 60 days prior to the start of the service with (50% availability spaces IN THE DDC</p>
                <p>3. In case the requirement is after 60 days, it is consulted with reservations and it is opened with a minimum of 4 Pax.</p>
                <p>4. The reservation request is by email, the same that will be confirmed by the same means, and once confirmed there will be no right to modifications since the permits or income purchased for Machupichu, Huaynapicchu, Machupichu Montaña and Inca Trail are not refundable and / or transferable.</p>
                <p>5. For the reservation of trek services, the passenger's personal data is required such as: Names and surnames, valid passport number, nationality, age, gender, occupation, and food options.</p>
                <p>6. The reservation is considered confirmed, once the Pre deposit has been made in favor of the company especially for Inca Trail, unless the company has agreements with the client (corporate client with credit)</p>
                <br>
                <p>The supplier company will provide all the information related to the paxs for a good coordination and execution of the services, in case of lack of coordination in the absence of real information, the consequences caused will not be the responsibility of WAYKI TREK</p>
                <h5>Payments:</h5>
                <p>1.- A prepayment of $ 150.00 will be made for the acquisition of the entrance ticket<br>
                    2.- The balance is credit and will be collected by our accounting offices and must be deposited in:<br><br>
                    Interbank Bank<br>
                    Cta. Cte. Dollars: Nº 420-303876386-0<br>
                    Interbank code: 003-420-013038763860-79<br>
                    Swift Code: BINPPEPL<br>
                    Company name: WAYKI TREK TRANSPORTES TURÍSTICOS</p>                
                    
                <h5>CANCELLATIONS:</h5>
                <p>1. On the Inca trail there are no cancellations or modifications, therefore the payment made for the entrance ticket for passengers and porters is not refundable.<br>
                    2. Cancellations on the Inca trail with 30 days in advance do not suffer any charge. (Except for entry tickets for passengers and porters)<br>
3. From 30 to 10 days the penalty is 50% of the total cost<br>
4. From 10 to 3 days the penalty of 80% of the total cost<br>
5. From 2 days to the day of departure the penalty is 100% (No show)<br>
6. Other services up to 15 days at no cost<br>
7. Other services 15-3 days before, is for expenses incurred to date.<br>
8. From two days to the day of departure is 100% (No Show)<br>
9. In the event that the client leaves due to their own decision or health, the expenses incurred by the Pax will be at their own expense, except for the services that are included in the tour, which can be used on the corresponding dates</p>
                <h5>SERVICES NOT INCLUDED</h5>
                <p>                
• Airport taxes (national and international)<br>
• National and international airline tickets<br>
• Excess baggage fees<br>
• Unplanned visits and activities<br>
• Alcoholic beverages, bottled water, rehydration drinks<br>
• Food not mentioned in the program<br>
• Accommodation not mentioned in the program<br>
• Tips (optional) for staff<br>
• Laundry service<br>
• Travel insurance<br>
• Additional expenses incurred for reasons unrelated to Wayki Trek operations.</p>
<h5>RESPONSIBILITIES</h5>
<p>Wayki Trek operates the treks directly, with equipment and trained personnel to ensure
its successful completion. We also outsource accommodation, restaurants, airlines.
and other third-party services, which have been previously approved for complying with the
standards that Wayki Trek aims to provide to our customers. However, these services
The providers are independent and Wayki Trek has no direct control over them.
Wayki Trek is not responsible for problems caused by these providers, such as loss of
luggage, delays, damage, etc., but you can step in to help customers.</p>
<p>• The payment of the reservation of our program implies the acceptance of the terms
and detailed conditions and covers our services and all participants in them.</p>
<p>Wayki Trek is committed to following the principles of ecotourism in our operations, and
Request the understanding and cooperation of hikers, especially not to contaminate the
water and the correct disposal of non-biodegradable waste. We must also respect the
customs and traditions of the local population.
<p>In order to be constantly communicated, we send you our email addresses: corporate@waykitrek.net, booking@waykitrek.net as well as the emergency numbers: 958317303 (RPC), 989146917 (RPC) and Fixed 084-224092 Cusco , 01-2418796 Lima (during office hours)
Also, remind them that they can do transfer services with us since we have our own units and also agreements with tourist transport companies.</p>
<p>Thanking you for your preference, we remain yours.</p>
<p>Sincerely</p>
<p>WAYKI TREK TOURIST TRANSPORTATION.</p>



            </div>
            <div class="modal-footer">
                <button type="button" class="card-link btn btn-secondary cursor text-white" aria-label="Close" (click)="modalClose()">{{page_bookings[language_page].labelClose}}</button>
            </div>
        </div>
    </div>
</div>

<!-- contenido -->
<app-header></app-header>
<div class="container-fluid">

    <div id="principal" class="align-items-stretch" *ngIf="jsonTour">
        <div class="row justify-content-md-center">
            <div class="col col-md-10 col-sm-12">
                <div class="row">                    
                    <div class=" col-lg-12 text-lg-end pt-1 mb-3">
                        <ul class="nav" style="float: left;">
                            <li class="nav-item"><a href="javascript:history.back()"><i class="fas fa-long-arrow-alt-left"></i> Back to Menu</a></li>
                        </ul>
                        <ul class="nav justify-content-end">
                            <li *ngIf="listItinerario!=null" class="nav-item">
                                <a (click)="abrir_modal('Itinerary')" class="nav-link">{{page_bookings[language_page].lnkItinerario}}</a>
                            </li>
                            <li *ngIf="listServicioIncluido!=null" class="nav-item">
                                <a (click)="abrir_modal('SIncludes')" class="nav-link">{{page_bookings[language_page].lnkSincluido}}</a>
                            </li>
                            <li *ngIf="listServicioNoIncluido!=null" class="nav-item">
                                <a (click)="abrir_modal('SNIncludes')" class="nav-link">{{page_bookings[language_page].lnkSnoincluido}}</a>
                            </li>
                            <li class="nav-item">
                                <a href="https://www.waykitrek.net/" target="_blank" class="nav-link btn-outline-primary">{{page_bookings[language_page].seeMore}}</a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-lg-8">
                        <div class="row">
                            <div class="col-lg-12 p-0">
                                <h3 class="size-2em card-title text-success font-weight-900">{{jsonTour.name}}</h3>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 text-lg-end">
                        <select class="form-select1 select_principal" size="1" (change)="changeChangeRelatedTour($event.target.value);$event.target.value=0" name="relatedTour" id="relatedTour" ng-focus="jsonTour">
            <option selected value="0">{{page_bookings[language_page].relatedTour}}</option>
            <option value="{{relatedTour.value}}" *ngFor="let relatedTour of jsonTour.relatedTours;">
              {{relatedTour.label}}</option>
          </select>
                    </div>

                </div>
                <div class="row">
                    <div class="col-lg-8" *ngIf="paso==1">
                        <div class="row">
                            <div class="col-lg-12 segundario">
                                <section>
                                    <div class="row">
                                        <div class="col-lg-12">
                                            <p class="titulo2 mt-3">
                                                {{page_bookings[language_page].date_label}} <i class="fas fa-calendar-day"></i>
                                            </p>
                                            <hr>
                                        </div>
                                    </div>
                                    <div class="row ">
                                        <div class="col-lg-6">
                                            <ngb-datepicker #dp [(ngModel)]="dia_selecionado" (ngModelChange)="selecionar_dia()" (navigate)="date = $event.next" [minDate]="{year: Hoy_anno, month: Hoy_mes, day: Hoy_dia}">
                                            </ngb-datepicker>
                                            <p class="advertencia mt-3 ml-3 ">
                                                <i class="fas fa-info-circle font-sixe3"></i> {{page_bookings[language_page].term_date}}
                                            </p>

                                        </div>
                                        <div class="col-lg-6">
                                            <p class="titulo2">
                                                {{page_bookings[language_page].types_label}}
                                            </p>
                                            <div *ngFor="let type of jsonTour.types;let indiceTypes=index">
                                                <label for="types_input{{type.label}}">
                          <input id="types_input{{type.label}}" class="form-check-input" [value]='type.value'
                            type="radio" (change)="changeTypes(indiceTypes)" name="types_name"
                            [(ngModel)]="radioSelectedType">
                          {{type.label}}
                        </label>
                                            </div>
                                            <p class="titulo2 mt-6">
                                                {{page_bookings[language_page].category_label}}
                                            </p>
                                            <div *ngFor="let categories of jsonTour.categories;let indiceCategorie=index ">
                                                <label for="categoriesanswer_{{categories.label}}">
                          <input id="categoriesanswer_{{categories.label}}" class="form-check-input"
                            [value]='categories.value' type="radio" name="categories_name"
                            [(ngModel)]="radioSelectedCategories" (change)="changeCategorie(indiceCategorie)">
                          {{categories.label}}
                        </label>
                                            </div>
                                        </div>
                                    </div>
                                </section>
                                <section>
                                    <div class="row">
                                        <div class="col-lg-12">
                                            <p class="titulo">
                                                {{page_bookings[language_page].titulo_pasajero}} <i class="fas fa-user-friends"></i>
                                            </p>
                                            <hr>
                                        </div>
                                    </div>
                                    <div *ngFor="let customerType of jsonTour.customerTypes;let indiceCustomerType=index">
                                        <div class="row">
                                            <div class="col-lg-12">
                                                <p class="titulo2">
                                                    {{customerType.label}}
                                                </p>
                                            </div>
                                        </div>
                                        <div class="row pb-3">
                                            <div class="col-lg-8">
                                                <div class="row">
                                                    <ul class="list-group list-group-flush descripcion_max">
                                                        <li class="list-group-item pt-0 pb-0" *ngFor="let description of descripcion_pasajeros[language_page][customerType.value]">
                                                            <i class="fa fa-caret-right" aria-hidden="true"></i> {{description}}
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                            <div class="col-lg-4 ">
                                                <div class="row">
                                                    <div class="col">
                                                        <input [(ngModel)]="arrayCustomerType[indiceCustomerType]" (change)="changeCustomerType(indiceCustomerType)" type="number" (keyup)="validarNumero(3,indiceCustomerType,0)" autocomplete="off" min="0" name="NAME{{customerType.value}}" placeholder="0" id="ID{{customerType.value}}">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row" [hidden]="indiceCustomerType==(jsonTour.customerTypes.length-1)">
                                            <div class="col-lg-12">
                                                <hr class="bg-gris">
                                            </div>
                                        </div>
                                    </div>
                                </section>

                                <section *ngIf="jsonTour.hotel!=null">
                                    <div class="row">
                                        <div class="col-lg-12">
                                            <p class="titulo">
                                                Hotel <i class="fas fa-hotel"></i>
                                            </p>
                                            <hr>
                                        </div>
                                    </div>

                                    <div class="row align-items-end">
                                        <div class="col-lg-4">
                                            <label for="Categoria"> {{page_bookings[language_page].categoriahotel_label}} </label>
                                            <select [(ngModel)]="tipoHotel" class="form-select1 " size="1" aria-label="Categoria del Hotel">
                        <option *ngFor="let room of jsonTour.hotel.types; let indexRooms=index" value="{{room.value}}">
                          {{room.label}}</option>
                      </select>
                                        </div>
                                        <div class="col-lg-4 pt-2">
                                            <label for="tipo">{{page_bookings[language_page].typeHotel_label}}</label>
                                            <select [(ngModel)]="categoriaHotel" class="form-select1 " size="1" aria-label="Tipo de habitacion">
                        <option *ngFor="let type of jsonTour.hotel.rooms; let indextype=index " value="{{type.value}}">
                          {{type.label}}</option>
                      </select>
                                        </div>


                                        <div class="col-lg-2 pt-2">
                                            <label for="habitacionHotel">{{page_bookings[language_page].cantiHotel_label}}</label>
                                            <input [(ngModel)]="habitacionHotel" type="number" (keyup)="validarNumero(1,'habitacionHotel',0)" class="input-group" name="habitacionHotel" id="habitacionHotel" autocomplete="off" placeholder="0">
                                        </div>
                                        <div class="col-lg-2 pt-2">
                                            <button class="btn primary btn-success cursor" (click)="saveHotel()"><i class="fa fa-plus"
                          aria-hidden="true"></i></button>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <ul class="list-group list-group-flush descripcion">
                                            <li class="list-group-item pt-0 pb-0" *ngFor="let descriptionHotel of page_bookings[language_page].despcriptionHotel">
                                                <i class="fa fa-caret-right" aria-hidden="true"></i> {{descriptionHotel}}
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="row">

                                        <div class="row pb-1 pt-3" *ngIf="hoteles_selecionados.length>0">
                                            <div class="col-lg-12">
                                                <div class="table-responsive">
                                                    <table class="table">
                                                        <thead>
                                                            <tr>
                                                                <th>
                                                                    {{page_bookings[language_page].categoriahotel_label}}
                                                                </th>
                                                                <th>
                                                                    {{page_bookings[language_page].typeHotel_label}}
                                                                </th>
                                                                <th>
                                                                    {{page_bookings[language_page].cantiHotel_label}}
                                                                </th>
                                                                <th></th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            <tr *ngFor="let hotel_s of hoteles_selecionados; let indexHotel_s=index">
                                                                <td>
                                                                    {{hotel_s.tipo.label}}
                                                                </td>
                                                                <td>
                                                                    {{hotel_s.categoria.label}}
                                                                </td>
                                                                <td>
                                                                    {{hotel_s.cantidad}}
                                                                </td>
                                                                <td class="text-danger cursor" (click)="deleteHotel(indexHotel_s)">
                                                                    <i class="fas fa-trash-alt">
                                  </i>
                                                                </td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                </section>
                                <section>
                                    <div class="row">
                                        <div class="col-lg-12">
                                            <p class="titulo">
                                                {{page_bookings[language_page].titulo_serviciosAdicionale}} <i class="fas fa-concierge-bell"></i>
                                            </p>
                                            <hr>
                                        </div>
                                    </div>
                                    <div *ngFor="let additionalServices of jsonTour.additionalServices; let indiceAdditionalServices=index">


                                        <div class="row">
                                            <div class="col-lg-12">
                                                <p class="titulo2 lowercase">
                                                    {{additionalServices.name}}
                                                </p>
                                            </div>
                                            <div class="col-lg-6">
                                                <div class="row">
                                                    <ul class="list-group list-group-flush descripcion_max">
                                                        <li class="list-group-item pt-0 pb-0">

                                                            {{additionalServices.description}}
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                            <div class="col-lg-6 ">
                                                <div class="row pb-3" *ngFor="let ASprices of additionalServices.prices; let indiceAdditionalServicesPrecio=index">
                                                    <div class="col-8 align-self-center">
                                                        <p class="">
                                                            {{additionalServices.prices>1?ASprices.label:''}} ${{ASprices.value}}
                                                        </p>
                                                    </div>
                                                    <div class="col-4">
                                                        <input type="number" autocomplete="off" (keyup)="validarNumero(2,indiceAdditionalServices,indiceAdditionalServicesPrecio)" (change)="changeCantAdditionalServices(indiceAdditionalServices,indiceAdditionalServicesPrecio)" [(ngModel)]="ASprices.cantidad"
                                                            placeholder="0" class="input-group servic-espec " name="input{{ASprices.label}}" id="input{{ASprices.label}}" min="0">
                                                    </div>
                                                </div>

                                            </div>
                                            <div class="col-lg-12" [hidden]="indiceAdditionalServices==(jsonTour.additionalServices.length-1)">
                                                <hr class="bg-gris mt-2">
                                            </div>
                                        </div>
                                    </div>
                                    <hr>
                                    <ul class="list-group list-group-flush form-check">
                                        <li class="list-group-item pt-0 pb-0">
                                            <input [(ngModel)]="terminoNuevo" class="form-check-input" type="checkbox" name="label_terminoNuevo" id="label_terminoNuevo" style="margin-left: -17px; margin-right: 5px;">
                                            <label class="" for="label_terminoNuevo"><a class="terminos" (click)="abrir_modal('terminoCondiciones')">
                      {{page_bookings[language_page].label_terminoNuevo}}
                    </a>
                    </label>
                                        </li>
                                    </ul>
                                </section>
                                <div class="row">
                                    <div class="pt-3"></div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4 ">
                        <div class="card tickets">
                            <div class="card-head border bg-main color-white">
                                <h5 class="card-title m-3 font-weight-600"> {{page_bookings[language_page].resumen_label}}</h5>
                            </div>

                            <div class="card-body p-0 mb-1 mt-5">
                                <ul class="list-group list-group-flush mb-3">
                                    <li class="list-group-item pt-0 pb-0"><strong>Tour:</strong> {{jsonTour.name}}</li>
                                    <li class="list-group-item pt-0 pb-0"><strong>{{page_bookings[language_page].DateLabel_label}}:</strong> {{dia_selecionado.day
                                        < 10 ? '0' + dia_selecionado.day: dia_selecionado.day}}/{{dia_selecionado.month< 10? '0'+dia_selecionado.month:dia_selecionado.month}}/{{dia_selecionado.year }}</li>
                                            <li class="list-group-item pt-0 pb-0" *ngIf="typeSelecionado">
                                                <strong> {{page_bookings[language_page].tipoTour_label}}:</strong> {{typeSelecionado.label}}
                                            </li>
                                            <li class="list-group-item pt-0 pb-0" *ngIf="CategoriesSelecionado">
                                                <strong>{{page_bookings[language_page].category_label}}:</strong> {{CategoriesSelecionado.label}}
                                            </li>
                                </ul>
                                <ul class="list-group list-group-flush pt-5" *ngIf="ArrayCustomerTypesSelecionado.length>0">
                                    <li class="list-group-item pt-0 pb-0 font-weight-600 border-oscuro">
                                        {{page_bookings[language_page].titulo_pasengers}}
                                    </li>
                                    <li class="list-group-item pt-0 pb-0" *ngFor="let CustomerTypesSelecionado of ArrayCustomerTypesSelecionado">
                                        <div class="row">
                                            <div class="col-8">
                                                {{CustomerTypesSelecionado.label}} ({{CustomerTypesSelecionado.cantidad}})
                                            </div>
                                            <div class="col-4 text-end">
                                                {{CustomerTypesSelecionado.precio | currency: 'USD' | lowercase }}
                                            </div>
                                        </div>
                                    </li>
                                    <li class="list-group-item pt-4 pb-0 font-weight-900 color-main text-end text-end" [ngClass]="{'fa-2x text-center mt-6':(ArrayAdditionalServices.length===0)&&(hoteles_selecionados.length===0)}">
                                        {{page_bookings[language_page].total_label}} {{total_persona | currency: 'USD' | lowercase}}
                                    </li>
                                </ul>

                                <ul class="list-group list-group-flush pt-5" *ngIf="hoteles_selecionados.length>0">
                                    <li class="list-group-item pt-0 pb-0 font-weight-600 border-oscuro">
                                        Hotel
                                    </li>
                                    <li class="list-group-item pt-0 pb-0" *ngFor="let hotelSelecionado of hoteles_selecionados; let indiceMostrarHotele=index">
                                        <div class="row pt-3" [ngClass]="{'border-claro':indiceMostrarHotele != (hoteles_selecionados.length-1)}">
                                            <!-- <hr> -->
                                            <div class="col-12">
                                                <h6 class="etiqueta_color">Hotel <span class="badge bg-cielo" [ngClass]="{'bg-salmon':indiceMostrarHotele%2 === 0}">{{hotelSelecionado.tipo.label}}</span>
                                                </h6>
                                            </div>
                                            <div class="col-8">
                                                {{hotelSelecionado.categoria.label}} ({{hotelSelecionado.cantidad}})
                                            </div>
                                            <div class="col-4 text-end">
                                                {{hotelSelecionado.precio | currency: 'USD' | lowercase}}
                                            </div>
                                        </div>

                                    </li>
                                    <li class="list-group-item pt-4 pb-0 font-weight-900 color-main text-end">
                                        {{page_bookings[language_page].total_label}} {{(total_hotel) | currency: 'USD' | lowercase}}
                                    </li>
                                </ul>

                                <ul class="list-group list-group-flush pt-5" *ngIf="ArrayAdditionalServices.length>0">
                                    <li class="list-group-item pt-0 pb-0 font-weight-600 border-oscuro">
                                        {{page_bookings[language_page].titulo_serviciosAdicionale}}
                                    </li>
                                    <li class="list-group-item pt-0 pb-0 " *ngFor="let AdditionalServicesSeleccionado of ArrayAdditionalServices">
                                        <div class="row">
                                            <div class="col-8">
                                                {{AdditionalServicesSeleccionado.label}} ({{AdditionalServicesSeleccionado.cantidad}})
                                            </div>
                                            <div class="col-4 text-end">
                                                {{AdditionalServicesSeleccionado.precio | currency: 'USD' | lowercase}}
                                            </div>
                                        </div>
                                    </li>
                                    <li class="list-group-item pt-4 pb-0 font-weight-900 color-main text-end">
                                        {{page_bookings[language_page].total_label}} {{total_AdditionalServices | currency: 'USD' | lowercase}}
                                    </li>
                                </ul>

                                <ul class="list-group list-group-flush pt-5 mt-6" *ngIf="ArrayAdditionalServices.length>0 || hoteles_selecionados.length>0 ">
                                    <li class="list-group-item pt-0 pb-0 font-weight-900 color-main fa-2x text-center" *ngIf="jsonTour.hotel==null">
                                        {{page_bookings[language_page].total_label}} {{(total_AdditionalServices+total_persona) | currency: 'USD' | lowercase}}
                                    </li>
                                    <li class="list-group-item pt-4 pb-0 font-weight-900 color-main fa-2x text-center" *ngIf="jsonTour.hotel!=null">
                                        {{page_bookings[language_page].total_label}} {{(total_AdditionalServices+total_hotel+total_persona) | currency: 'USD' | lowercase}}
                                    </li>

                                </ul>
                                <ul class="list-group list-group-flush" *ngIf="ArrayCustomerTypesSelecionado.length>0">
                                    <li class="list-group-item pt-0 pb-0  descripcion m-auto">
                                        <i class="fas fa-info-circle text-danger font-sixe3"></i>{{page_bookings[language_page].terminos_total}}

                                    </li>
                                </ul>
                            </div>
                            <div class="card-footer justify-content-end" *ngIf="paso==1">
                                <button (click)="cambiar_paso()" class="btn-success card-link m-auto p-4 text-uppercase text-white w-100 large">{{page_bookings[language_page].reserva_label}}</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>